%h3 最新发表列表
%table.table
  %tr
    %th 标题
    %th 内容
    %th 发表者
    %th 发表日期
  - @resources.try(:each) do |resource|
    %tr
      %td= link_to resource.title,resource_path(resource)
      %td= resource.introduction
      %td= resource.user.name
      %td= resource.created_at
%center= paginate @resources
