%p#notice= notice

= link_to 'posts', user_posts_path(current_user)
\|
= link_to 'comments', user_comments_path(current_user)

%p

= link_to 'Edit', edit_user_path(current_user)
\|
= link_to 'Back', users_path

