%h1 Information List
%table.table.table-condensed
  %tr.info
    %th title
    %th content
    %th updated_at
    %th
    %th
    %th
  - @informations.try(:each) do |infor|
    %tr
      %td= infor.title
      %td= cut_short(infor.content.html_safe)
      %td= infor.created_at.to_s(:db)
      %td= link_to 'view', admin_inforamtion_path(infor)
      %td= link_to 'edit', edit_admin_inforamtion_path(infor)
      %td= link_to 'delete', admin_inforamtion_path(infor), :method => :delete, :data => { :confirm => 'Are you sure?' }

.pull-right
  = link_to 'New Information', new_admin_inforamtion_path, class: ['btn', 'btn-primary']
