%table.table.table-condensed
  %tr{align: "center"}
    %td.success
      %h3= @resource.title.html_safe
  %tr
    %td= image_tag(@resource.avatar_url) if @resource.avatar?
  %tr
    %td.info introduction
  %tr
    %td= @resource.introduction.html_safe

%center
  - if @resource.prev
    = link_to "< Prev", @resource.prev
  - if @resource.next
    = link_to "Next >", @resource.next

- if author?
  = link_to 'Edit', edit_user_resource_path(current_user, @resource)
  \|
= link_to_function "Back", "history.back()"
