%center
  %h3= @resource.title
= image_tag(@resource.avatar_url) if @resource.avatar?
%h4= @resource.introduction

- if author?
  = link_to 'Edit', edit_user_resource_path(current_user, @resource)
  \|
= link_to_function "Back", "history.back()"
