%table.table.table-condensed
  %tr{align: "center"}
    %td.success
      %h3= @resource.title.html_safe
  %tr
    %td= image_tag(@resource.avatar_url) if @resource.avatar?
  %tr
    %td.info introduction
  %tr
    %td= simple_format @resource.introduction

%center
  - if @resource.prev
    = link_to "< Prev", visitor_resource_path(@resource.prev)
  - if @resource.next
    = link_to "Next >", visitor_resource_path(@resource.next)

- if login? && (current_user.id == @resource.user_id)
  = link_to 'Edit', edit_me_user_resource_path(current_user, @resource)
  \|
= link_to_function "Back", "history.back()"
