%table.table.table-condensed
  %tr{align: "center"}
    %td.success
      %h3= utf8_html(@resource.title.empty? ? '(not title)' : @resource.title)
  %tr
    %td= @resource.avatar? ? image_tag(@resource.avatar_url) : image_tag("no.jpg")
  %tr
    %td.info introduction
  %tr
    %td= simple_format utf8(@resource.introduction)

%center
  - if @resource.prev
    = link_to "< Prev", visitor_resource_path(@resource.prev), class: ['btn','btn-sm', 'btn-warning']
  - if @resource.next
    = link_to "Next >", visitor_resource_path(@resource.next), class: ['btn','btn-sm', 'btn-info']

- if login? && (current_user.id == @resource.user_id)
  = link_to 'Edit', edit_me_user_resource_path(current_user, @resource)
  \|
= link_to_function "Back", "history.back()"
