%p#notice= notice

%table.table
  %tr
    %th 标题
    %td= @post.title
  %tr
    %th 正文
    %td= @post.content


= link_to '编辑', edit_user_post_path(current_user, @post)
\|
= link_to '返回', user_posts_path(current_user)
