%h1 Your Post List
%table.table.table-condensed
  %tr.info
    %th title
    %th state
    %th description
    %th updated_at
    %th
    %th
    %th
  - @posts.try(:each) do |post|
    %tr
      %td= utf8_html(post.title)
      %td= show_resource_state(post.state)
      %td= short_utf8_html(post.content)
      %td= post.updated_at.to_s(:db)
      %td= link_to 'view', me_user_post_path(current_user, post)
      %td= link_to 'edit', edit_me_user_post_path(current_user, post)
      %td= link_to 'delete', me_user_post_path(current_user, post), :method => :delete, :data => { :confirm => 'Are you sure?' }
%center= paginate @posts if @posts.present?

.pull-right
  = link_to 'New Post', new_me_user_post_path(current_user), class: ['btn', 'btn-primary']
