%h1 Your Resource List
%table.table.table-condensed
  %tr.info
    %th title
    %th state
    -#%th type
    %th introduction
    %th updated_at
    %th
    %th
    %th
  - @resources.try(:each) do |resource|
    %tr
      %td= resource.title
      %td= show_resource_state(resource.state)
      -#%td= resource.s_type
      %td= cut_short(resource.introduction.html_safe)
      %td= resource.updated_at.to_s(:db)
      %td= link_to 'view', me_user_resource_path(current_user, resource)
      %td= link_to 'edit', edit_me_user_resource_path(current_user, resource)
      %td= link_to 'delete', me_user_resource_path(current_user, resource), :method => :delete, :data => { :confirm => 'Are you sure?' }
%center= paginate @resources if @resources.present?

.pull-right
  = link_to 'New Resource', new_me_user_resource_path(current_user), class: ['btn', 'btn-primary']
