%table.table.table-condensed
  %tr{align: "center"}
    %td.success
      %h3= "#{@resource.title.html_safe}(#{show_resource_state(@resource.state)})"
  %tr
    %td= image_tag(@resource.avatar_url) if @resource.avatar?
  %tr
    %td.info introduction
  %tr
    %td= simple_format @resource.introduction

%center
  - if @resource.prev(:me)
    = link_to "< Prev", me_user_resource_path(current_user, @resource.prev(:me))
  - if @resource.next(:me)
    = link_to "Next >", me_user_resource_path(current_user, @resource.next(:me))

= link_to 'Edit', edit_me_user_resource_path(current_user, @resource)
\|
= link_to_function "Back", "history.back()"
