-# navigation styled for Bootstrap 3.0
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-static-top{role: "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'Blom', root_path, class: 'navbar-brand'
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li= link_to 'recent', visitors_path, class: 'active'
            %li= link_to 'about', '#about'
            %li= link_to 'contact', 'https://github.com/fdwills/'
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                samples
                %b.caret
              %ul.dropdown-menu
                %li= link_to 'wills\' album', '/users/1/home'
                %li= link_to 'Action2', '#'
                %li= link_to 'Action3', '#'
                %li.divider
                %li.dropdown-header 'Nav header'
                %li= link_to 'Separated link1', '#'
                %li= link_to 'Separated link1', '#'
            - if login?
              %li= link_to "#{current_user.name}'s Home", user_path(current_user)
              %li= link_to 'logout', login_path, :confirm => 'Are you sure to logout?', :method => :delete
            - else
              = form_for :login, method: 'post', url: login_path, html: { class: ['navbar-form', 'navbar-right'], role: 'form'} do |t|
                .form-group
                  = t.text_field :email, { class: 'form-control', placeholder: 'Email', type: 'email'}
                .form-group
                  = t.password_field :pass, { class: 'form-control', placeholder: 'Password', type: 'password'}
                .form-group
                  = t.submit 'Sign in', class: ['btn-success', 'btn']
                  = link_to 'Regist!', new_user_path, class: ['btn-link', 'btn']
