!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Myapp'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Myapp'}"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %link{:href => "/assets/stylesheets/blog.css", :rel => "stylesheet"}
    %link{:href => "/assets/stylesheets/carousel.css", :rel => "stylesheet"}
    %style#holderjs-style{:type => "text/css"}
  %body{:style => ""}
    = render 'layouts/navigation'
    %br
    %br
    %br
    %br
    .container
      .blog-header
        %h1.blog-title Blom: An Image Blogger
        %p.lead.blog-description Drive your blog like an album.
      .row
        .col-sm-8.blog-main
          %p#notice= notice
          = yield
        .col-sm-3.col-sm-offset-1.blog-sidebar
          .sidebar-module.sidebar-module-inset
            %h4 About
            %p
              I start the project from 2014.01 for fun. Try to make album more easier and give my alnum a
              %em new life.
          .sidebar-module
            %h4 Archives
            %ol.list-unstyled
              %li
                %a{:href => "#"} January 2014
              %li
                %a{:href => "#"} December 2013
              %li
                %a{:href => "#"} November 2013
              %li
                %a{:href => "#"} October 2013
              %li
                %a{:href => "#"} September 2013
              %li
                %a{:href => "#"} August 2013
              %li
                %a{:href => "#"} July 2013
          .sidebar-module
            %h4 Elsewhere
            %ol.list-unstyled
              %li= link_to 'GitHub', 'https://github.com/fdwills/myapp'
              %li= link_to 'blog', 'http://fdwills.com'
              %li= link_to 'Facebook', 'https://www.facebook.com/wei.renzhong.1'
    = render 'layouts/footer'
= debug(params) if Rails.env.development?
