!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Myapp'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Myapp'}"}
    %meta{:property =>"wb:webmaster", :content =>"f5cf72c43a5da8ca"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %link{:href => "/assets/stylesheets/blog.css", :rel => "stylesheet"}
    %link{:href => "/assets/stylesheets/carousel.css", :rel => "stylesheet"}
    %style#holderjs-style{:type => "text/css"}
  %body{:style => ""}
    <div id="fb-root"></div>
    <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
    .container
      = render 'layouts/navigation'
      %br
      %br
    .container
      .blog-header
        %h1.blog-title Blom: An Image Blogger
        %p.lead.blog-description Drive your blog like an album.
      .row
        .col-sm-8.blog-main
          %p#notice= notice
          = yield
        .col-sm-3.col-sm-offset-1.blog-sidebar
          .sidebar-module.sidebar-module-inset
            %h4 About
            %p
              I start the project from 2014.01 for fun. Try to make album more easier and give my alnum a
              %em new life.
          .sidebar-module
            %h4 Latest Update
            %ol.list-unstyled
            - lastest_update.try(:each) do |update|
              %li= link_to "#{update.created_at.to_s(:db)}", visitor_inforamtion_path(update)
          .sidebar-module
            %h4 Elsewhere
            %ol.list-unstyled
              %li= link_to 'GitHub', 'https://github.com/fdwills/myapp'
              %li= link_to 'blog', 'http://fdwills.com'
              %li= link_to 'Facebook', 'https://www.facebook.com/wei.renzhong.1'
    = render 'layouts/footer'
= debug(params) if Rails.env.development?
