!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'BIM'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Share your album'}"}
    %meta{:property =>"wb:webmaster", :content =>"f5cf72c43a5da8ca"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %link{:href => "/assets/stylesheets/blog.css", :rel => "stylesheet"}
    - if mobile_user_agent?
      %link{:href => "/assets/stylesheets/carousel_mb.css", :rel => "stylesheet"}
    - else
      %link{:href => "/assets/stylesheets/carousel.css", :rel => "stylesheet"}
    %style#holderjs-style{:type => "text/css"}
  %body{:style => ""}
    <div id="fb-root"></div>
    <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
    <script src="//platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
    .container
      = render 'layouts/navigation'
      %br
      %br
    .container
      .blog-header
        %h1.blog-title BIM: Blog, Image, Music
        %p.lead.blog-description By wills.
      .col-sm-9.blog-main
        %p#notice= notice
        = yield
      .col-sm-3.blog-sidebar
        .sidebar-module.sidebar-module-inset
          %h4{data: {toggle: "collapse", target: "#about"}}
            About
          %div.collapse.in#about
            %p
              I start the project from 2014.01.
              %p How to generate a album:
              %p 1. Create an account.
              %p 2. Upload images and edit information.
              %p 3. Create an post.
              %p 4. Add the images to post and publish it.
        .sidebar-module.sidebar-module-inset
          %h4{data: {toggle: "collapse", target: "#info"}}
            Latest Update
          %ol.list-unstyled.collapse#info
            - lastest_update.try(:each) do |update|
              %li= link_to "#{update.created_at.to_s(:db)}", visitor_inforamtion_path(update)
        .sidebar-module.sidebar-module-inset
          %h4{data: {toggle: "collapse", target: "#link"}}
            Elsewhere
          %ol.list-unstyled.collapse#link
            %li= link_to 'GitHub', 'https://github.com/fdwills/myapp'
            %li= link_to 'blog', 'http://fdwills.com'
            %li= link_to 'Facebook', 'https://www.facebook.com/wei.renzhong.1'
    = render 'layouts/footer'
= debug(params) if Rails.env.development?
